/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/wp-content/upgrade/
/wp-content/debug.log
*.log
*.sql
/wp-content/uploads/
/wp-content/cache/
/wp-cli.local.yml
/dbv/data/meta/revision
error_log*
access_log*